/* header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
} */

/* ////// SECTION //////  */
section {
  padding: 150px 0;
}

.section-container {
  margin-bottom: -4em;
}

.section-title {
  text-align: center;
  margin-top: -3em;
}

.section-description {
  margin-bottom: 4em;
}

/* ////// BUTTONS //////  */
.btn-primary {
  color: #343a40;
  background-color: #00000000;
  border-color: #343a40;
}

.btn-primary:hover {
  color: white;
  background-color: #343a40;
  border-color: #343a40;
}

/* ////// CAROUSEL SECTION //////  */
.carousel-item {
  height: 80vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 2em;
}

.carousel-item,
.carousel-item.active {
  height: 90hv;
}

.carousel-caption.d-none.d-md-block {
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
}

.carousel-caption {
  position: absolute;
  right: 0%;
  bottom: 20px;
  left: 0%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

/* ////// WHY US SECTION //////  */

/* ////// ACCOUNTING SECTION //////  */
#accounting {
  color: white;
  background-color: #343a40;
  margin-bottom: -10em;
}

.private {
  background-image: url('../resources/Accounting/idiotis.jpg');
  height: 527px;
}

.business {
  background-image: url('../resources/Accounting/epixeirisi.jpg');
  height: 527px;
}

.accounting {
  display: flex;
  flex-direction: column;
}

.accounting-title {
  margin-top: 1em;
  text-align: center;
  color: white;
}

.accounting-img {
  width: 100px;
  height: 100px;
  margin-top: 1em;
  margin-bottom: 1em;
  align-self: center;
}

.accounting-list {
  align-self: center;
  color: white;
}

.priv-button {
  margin-top: 3em;
  margin-bottom: 2em;
}
.accounting-button {
  color: white;
  background-color: #00000000;
  border-color: white;
}

.accounting-button:hover {
  color: #343a40;
  background-color: white;
  border-color: white;
}


/* ////// INSURANCE SECTION //////  */
#insurance {
  background-color: #cfd7c7;
}

.ins-transition {
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  transition: transform 1s;
}

.ins-transition:hover {
  -webkit-transform: scale(1.09);
  -ms-transform: scale(1.09);
  transform: scale(1.09);
}

.ins-link {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.ins-circle {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 1px solid #343a40;
  border-radius: 100px;
  background-color: #343a40;
}

.ins-img {
  align-self: center;
  width: 100px;
  height: 100px;
}

.ins-text {
  text-align: center;
}

.car-button {
  margin-top: 3em;
}

.fire-button {
  margin-top: 3em;
}

.savings-button {
  margin-top: 1.5em;
}

/* ////// CONTACT US SECTION //////  */
#contact {
  background-color: #70c3be;
}

#contact a {
  color: #fff;
  text-decoration: none;
}

.maps iframe {
  width: 530px;
  height: 816px;
}

.forma {
  margin-top: -0.5em;
}

/* ////// PARTNERS SECTION //////  */
.partners {
  justify-content: center;
  padding-top: 1em;
}

.partners-ribbon {
  padding: 0px 0 !important;
}

.rib-item {
  height: 7em;
  min-height: 100px;
  margin-bottom: 2em;
}