/* header {
  padding: 154px 0 100px;
}

@media (min-width: 992px) {
  header {
    padding: 156px 0 100px;
  }
} */

/* ////// SECTION //////  */
section {
  padding: 150px 0;
}

.section-container {
  margin-bottom: -4em;
}

.section-title {
  text-align: center;
  margin-top: -3em;
}

.section-description {
  margin-bottom: 4em;
}

/* ////// BUTTONS //////  */
.btn-primary {
  color: #343a40;
  background-color: #00000000;
  border-color: #343a40;
}

.btn-primary:hover {
  color: white;
  background-color: #343a40;
  border-color: #343a40;
}

/* ////// CAROUSEL SECTION //////  */
.carousel-item {
  height: 85vh;
  min-height: 300px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-top: 2em;
}

.carousel-item,
.carousel-item.active {
  height: 85vh;
}

.carousel-caption.d-none.d-md-block {
  background-color: rgba(0, 0, 0, .8);
  width: 100%;
}

.carousel-caption {
  position: absolute;
  right: 0%;
  bottom: 20px;
  left: 0%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
}

/* ////// WHY US SECTION //////  */
.wu-text{
  margin-bottom: 0em;
}
/* ////// ACCOUNTING SECTION //////  */
#accounting {
  color: white;
  background-color: #343a40;
  margin-bottom: -10em;
}
.private {
  background-image: url('../resources/Accounting/idiotis.jpg');
  background-repeat:round;
  min-width: fit-content;
  height: 527px;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.business {
  background-image: url('../resources/Accounting/epixeirisi.jpg');
  background-repeat:round;
  min-width: fit-content;
  height: 527px;
  margin-top: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accounting {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.accounting-title {
  text-align: center;
  color: white;
}

.accounting-img {
  width: 100px;
  height: 100px;
  margin-top: 1em;
  margin-bottom: 2em;
  align-self: center;
}

.accounting-button {
  margin-top: 1em;
  color: white;
  background-color: #00000000;
  border-color: white;
}

.accounting-button:hover {
  color: #343a40;
  background-color: white;
  border-color: white;
}


/* ////// INSURANCE SECTION //////  */
#insurance {
  background-color: #cfd7c7;
}
.askoffer{
  color: red!important;
}
.ins-transition {
  transition: width 2s, height 2s, background-color 2s, transform 2s;
  transition: transform 1s;
}

.ins-transition:hover {
  -webkit-transform: scale(1.09);
  -ms-transform: scale(1.09);
  transform: scale(1.09);
}

.ins-link {
  display: flex;
  justify-content: center;
  margin-bottom: 2em;
}

.ins-circle {
  display: flex;
  justify-content: center;
  width: 200px;
  height: 200px;
  border: 1px solid #343a40;
  border-radius: 100px;
  background-color: #343a40;
}

.ins-img {
  align-self: center;
  width: 100px;
  height: 100px;
}

.ins-text {
  text-align: center;
}

.car-button {
  margin-top: 3em;
}

.fire-button {
  margin-top: 3em;
}

.savings-button {
  margin-top: 1.5em;
}

/* ////// CONTACT US SECTION //////  */
#contact {
  background-color: #70c3be;
}

#contact a {
  color: #fff;
  text-decoration: none;
}

.maps iframe {
  width: 530px;
  height: 816px;
}

.forma {
  margin-top: -0.5em;
}

/* ////// PARTNERS SECTION //////  */
.partners {
  justify-content: center;
  padding-top: 1em;
}

.partners-ribbon {
  padding: 0px 0 !important;
}

.rib-item {
  height: 7em;
  min-height: 100px;
  margin-bottom: -24em;
}

/* ////// FOOTER SECTION //////  */
.footer-col_white { 
  color:#FFF;
}
footer { 
  width:100%; 
  background-color:#263238; 
  min-height:250px; 
  padding:10px 0px 15px 0px ;
}
.pt2 { 
  padding-top:40px ; 
  margin-bottom:20px ;
}
footer p { 
  font-size:13px; 
  color:#CCC; 
  padding-bottom:0px;
  margin-bottom:8px;
}
.bottom_border { 
  border-bottom:1px solid #323f45; 
  padding-bottom:20px;
  margin-bottom: 1em;
}

/* ////// MEDIA QUERIES //////  */

/* ////// BIG SCREEN //////  */
@media screen and (min-width: 1400px) {
  .rib-item {
    height: 7em;
    min-height: 100px;
    margin-bottom: -36em;
  }
  .logo{
    margin-left: -4em;
  }
  .navbar-collapse{
    font-size: 18px;
    margin-right: -6em;
}
.navbar-expand-lg .navbar-nav .nav-link {
  padding-right: 1rem;
  padding-left: 1rem;
}
}
